
@{
    ViewData["Title"] = "Error";
}

<h1>Error</h1>

<div class="alert-danger">
    <p>@ViewBag.ExceptionPath</p>
</div>

<div class="alert-danger">
    <p>@ViewBag.ExceptionMessage</p>
</div>

<div class="alert-danger">
    <p>@ViewBag.Stacktrace</p>

</div>

    

